.About {
    height: 750px;
}

.about-page-img-div {
    height: 200px;
    width: inherit;
    overflow-x: hidden;
    overflow-y: hidden;
}

.about-page-invite {
    background-color: #FFCC8D;
    padding: 40px;
    border-radius: 5px;
}
