.Footer {
    background-color: #252525;
    padding: 20px;
}

.Footer > p {
    color: #AAAAAA;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.92px;
    text-align: center;

}