.App {
    width: 600px;
    margin: 0px auto;
    background-color: #FFF7ED;
}

a {
    color: #000000;
    text-decoration: none;
}

nav {
    display: flex;
}

.brand {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25.35px;
    font-variation-settings: "slnt" 0;  
}

.arrow {
    text-decoration: none;
}

.van-type-filter-btn {
    margin: 15px;
    height: 37px;
    border-width: 0px;
    border-radius: 5px;
    background-color: #FFEAD0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.92px;
    text-align: center;
}

.clear-filter-btn {
    border-width: 0px;
    background-color: inherit;
    text-decoration: underline;
    color: #4D4D4D;
}

.van-type-btn {
    width: 85.71px;
    height: 33.89px;
    border-radius: 5px;
    border-width: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 31.66px;
    text-align: center;
    color: #FFEAD0;
}

.van-type-filter-btn.selected-simple {
    background-color: #E17654;
    color: #FFEAD0;
}

.van-type-filter-btn.selected-rugged {
    background-color: #115E59;
    color: #FFEAD0;
}

.van-type-filter-btn.selected-luxury {
    background-color: #161616;
    color: #FFEAD0;
}

.van-type-btn.simple {
    background-color: #E17654;
}

.van-type-btn.rugged {
    background-color: #115E59;
}

.van-type-btn.luxury {
    background-color: #161616;
}

.orange-btn {
    height: 49.83px;    
    margin-top: 50px;
    border-width: 0px;
    border-radius: 5px;
    font-family: Inter;
    font-size: 15.95px;
    font-weight: 700;
    line-height: 31.66px;
    background-color: #FF8C38;
    color: #FFFFFF;
}

.black-btn {
    background-color:#161616;
    color: #FFFFFF;
    height: 49px;
    margin-top: 10px;
    padding: 12px 22px 13px 22px;
    border-radius: 10px;
}

.van-img-sm {
    width: 65.88px;
    height: 65.88px;
    border-radius: 5px;
}

.van-img-md {
    width: 160.15px;
    height: 157.9px;
    border-radius: 5px;
}

.van-img-lg {
    width: 229.23px;
    height: 229.23px;
    border-radius: 5px;   
}

.van-img-xl {
    width: 497.32px;
    height: 490.35px;
    border-radius: 5px;
}

.nav-link {
    margin-right: 30px;
    color: #4D4D4D;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;  
}

.nav-link:hover {
    color: #161616;
    text-decoration: underline;
}

.nav-link.active {
    color: #161616;
    text-decoration: underline;
}

/*
    fonts and texts
*/

.font-inter-500 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.font-inter-600 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 31.66px;
    text-align: left;
}

.font-inter-700 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.font-inter-800 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 42px;
    text-align: left;
}

.text-faded {
    color: #4D4D4D;
}